body{
	margin: 0;
}

.video-wrap{
	position: relative;

}

video{
	position: absolute;
    top: 0;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, 0); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
}

.start{
	width: 300px;
	position: absolute;
	z-index: 100;
    bottom: -25%;
	left: 45%;
	cursor: pointer;
}


.loader{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('./img/loading.gif') 
              50% 50% no-repeat rgb(249,249,249);
			    background-size: 100px 100px;
}

.unity-canvas {
 margin: 120px;
}